#admin-page {
    min-height: 100vh;
    background: #F0F0F0;
}

#navbar {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #3c4655;
    overflow: auto;
    z-index: 2;

    #close {
        position: absolute;
        top: -10px;
        right: 220px;
        color: #fff;
        font-size: 2rem;
        display: none;

        &:hover {
            background: none;
            text-decoration: none;
        }
    }

    h3 {
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
        padding: 1rem 0.5rem;
        color: #fff;
        background: #2a313c;
        margin: 0;
    }

    h4 {
        text-align: right;
        width: 100%;
        color: #fff;
        margin: 0.5rem 0;
        padding: 1rem 1rem;
    }

    a:not(#close) {
        width: 100%;
        text-align: right;
        color: #fff;
        font-size: 1.15rem;
        font-weight: 300;
        padding: 0.5rem 3.5rem 0.5rem 0;

        &:hover {
            background: #7e8ea1;
            text-decoration: none;
        }
    }
}

.navbar-toggler {
    width: 50px;

    i {
        cursor: pointer;
    }
}

.admin-content{
    text-align: right;
    margin-right: 275px;
    min-height: calc(100vh - 50px);
    padding: 1rem;
    box-sizing: border-box;
}

.container {
    .card {
        //@include box-shadow;
        margin-bottom: 2rem;

        .card-header {
            background: #3c4655;
            color: #fff;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
    display: none;
}
