@media screen and (max-width: 768px) {
    // Navbar
    .nav-container {
        padding: 0.5rem 0;

        .navbar {
            justify-content: flex-start;

            ul.navbar-nav {
                padding: 0;

                a.nav-link {
                    text-align: right;
                }
            }
        }
    }

    // Hero image
    .hero-image {
        .hero-text {
            width: 100%;
            top: 30%;

            h1 {
                font-size: 2.5rem;
                font-weight: 400;
                padding: 1rem;
            }

            h2 {
                font-size: 2rem;
            }
        }
    }

    // Search box
    /* .search-container {
        top: 0;
    }

    // Cards container
    .cards-container {
        margin: 2rem auto 2rem auto;
    }
 */

    //Footer
    .footer {
        .container {
            grid-template-columns: 1fr;
            grid-gap: 0.5rem;

            .footer-box {
                padding: 0.5rem;
            }
        }
    }

    // Admin page navbar
    #navbar {
        right: -250px;
        transition: 0.3s ease-out;

        #close {
            display: inline;
        }
    }

    .admin-content{
        margin: 0 1rem;
    }

    .show-navbar {
        right: 0!important;
    }
}
